.padiOverlay
{
	height: 100%;
	left: 0px;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0px;
	position: fixed;
	top: 0px;
	visibility: visible;
	width: 100%;
	z-index: 1040;
}
.padiFade
{
	/* background-color: rgba(0,0,0,0.6); */
	/* height: 100%; */
	/* width: 100%; */
	/* z-index: 1041; */
	/* zoom:1; */
}
.padiPop4Overlay h1, .padiPop4Overlay h2, .padiPop4Overlay h3, .padiPop4Overlay div, .padiPop4Overlay ul, .padiPop4Overlay li, .padiPop4Overlay ol, .padiPop4Overlay p, .padiPop4Overlay a, .padiPop4Overlay input, .padiPop4Overlay input[type=text], .padiPop4Overlay input[type=email]
{
	moz-box-shadow: none;
	moz-box-sizing: border-box;
	moz-text-shadow: none !important;
	ms-box-sizing: border-box;
	vertical-align: middle;
	webkit-text-shadow: none !important;
}
.padiPop4Overlay *, .padiPop4Overlay *:before, .padiPop4Overlay *:after
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
.padiPop4Wrap
{
	background-image: url(img/bg.png);
	background-position: center top;
	background-repeat: no-repeat;
	height: 482px;
	/* margin-left: -360px; */
	/* margin-top: -24px; */
	padding: 0px;
	position: absolute;
	/* right: 0%; */
	visibility: visible;
	width: 716px;
	z-index: 1602;
	float: left;
	left: 0;
}
.padiPop4Overlay
{
	background-clip: padding-box;
	background-color: transparent;
	background-image: none;
	background-repeat: no-repeat;
	border-radius: 0;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
	font-family: "Titillium Web", sans-serif;
	font-size: 13px;
	margin: 0;
	moz-background-clip: padding;
	moz-border-radius: 0;
	moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
	overflow: auto;
	padding: 0px;
	position: static;
	webkit-background-clip: padding-box;
	webkit-border-radius: 0;
	webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
	z-index: 1060;
}
.padiPop4Overlay a
{
	text-decoration: none;
}
.padiPop4Overlay a:hover
{
	text-decoration: none;
}
.padiPop4Overlay .padiTitle
{
	
	background-position: center top;
	background-repeat: no-repeat;
	color: #000;
	height: 78px;
	margin: 25px 50px 25px 70px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	width: 400px;
}
.padiPop4Overlay .padiSubtitle
{
	color: #423f32;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	word-spacing: -1px;
}
.padiPop4Overlay .point
{
	color: #ff6f00;
	font-size: 16px;
	font-weight: normal;
	line-height: 16px;
	margin: 0;
	padding: 0 5px 3px 2px;
}
.padiPop4Overlay .list
{
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	line-height: 16px;
	margin: 0;
	padding: 0 0 3px 0;
}
.padiPop4Overlay div.padiPopupContent
{
	background-clip: padding-box;
	border-radius: 0px;
	color: #2d2d2d;
	height: 0;
	margin-bottom: 0;
	moz-background-clip: padding;
	moz-border-radius: 0px;
	webkit-background-clip: padding-box;
	webkit-border-radius: 0px;
}
.padiPop4Overlay .padiContent
{
	color: #2d2d2d;
	padding: 70px 80px 0 105px;
}
.padiPop4Overlay .padiContent p
{
	font-weight: 100;
	margin-bottom: 8px;
	margin-top: 0;
	text-align: left;
	float: left;
	padding-top: 10px;
	margin-left: -10px;
}
.padiPop4Overlay .padiContent p.padiErrorMessage
{
	font-weight: 100;
	margin: 0;
	padding: 0 0 0 230px;
	text-align: left;
}
.padiPop4Overlay .eBook
{
	color: #423f32;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
	padding: 5px 0 0 160px;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	word-spacing: -1px;
}
.padiPop4Overlay .padiCriticalMessage
{
	background: #FCC;
	border: none !important;
	border-radius: 6px;
	color: #b10000;
	font-size: 13px;
	font-weight: normal;
	moz-border-radius: 6px;
	padding: 10px;
	webkit-border-radius: 6px;
}
.padiPop4Overlay .padiFields
{
	display: block;
	padding: 0;
	vertical-align: top;
	width: 100%;
}
.padiPop4Wrap .padiThanks
{
	color: #111111;
	display: block;
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
	font-weight: normal;
	left: 305px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 275px;
	vertical-align: top;
}
.padiClearfix:after
{
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}
.padiPopupContent a.padiClose
{
	background-image: url(img/close.png);
	background-position: right top;
	background-repeat: no-repeat;
	border: none;
	display: block;
	height: 15px;
	margin: 0;
	opacity: 1;
	padding: 0;
	position: absolute;
	right: 15px;
	text-indent: -1000em;
	top: 015px;
	width: 15px;
	z-index: 2000;
}
.padiPop4Wrap a.padiClose:hover
{
	opacity: 0.8;
}
.padiPop4Overlay form
{
	float: right;
	margin-right: -42px;
	margin-top: 60px;
	width: 370px;
}
.padiPop4Overlay form .padiField
{
	background-color: rgba(255,255,255,0.3);
	background-image: none;
	border: 1px solid #b2b2b2;
	border-radius: 4px;
	color: #808080;
	font-family: "Titillium Web", sans-serif;
	font-size: 20px;
	font-weight: normal;
	height: 44px;
	line-height: 30px;
	margin: 4px 0px 3px 0px;
	moz-border-radius: 4px;
	padding: 5px 10px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	vertical-align: middle;
	webkit-border-radius: 4px;
	webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	width: 200px;
}
.padiPop4Overlay form .padiCheck
{
	margin: 0px 4px 2px 4px;
	vertical-align: bottom;
}
.padiPop4Overlay form .padiField:focus
{
	border-color: #fc9f02;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,255,255,0.6);
	outline: 0;
	webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,255,255,0.6);
}
.padiPop4Overlay form .padiLabel
{
	font-weight: bold;
}
.padiPop4Overlay form .padiRadioLabel
{
	font-size: 12px;
	font-weight: normal !important;
}
.padiPop4Overlay form option
{
	color: #333;
}
.padiPop4Overlay form .padiRadio
{
	list-style: none;
	margin-bottom: 1.4em;
	padding: 0;
}
.padiPop4Overlay form .padiRadio li
{
	margin: 3px 0px;
}
.padiPop4Overlay form .padiButton
{
	/* background-color: #fc9f02; */
	color: #ffffff;
}
.padiPop4Overlay form .padiButton:active
{
	opacity: 0.8;
}
.padiPop4Overlay form .padiButton
{
	background-image: url(img/rateus.png);
	background-position: left top;
	background-repeat: no-repeat;
	border: 0px solid #d92525;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-family: "Titillium Web", sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 83px;
	line-height: 16px;
	margin: 0 0 0 12px;
	moz-border-radius: 4px;
	moz-user-select: none;
	ms-user-select: none;
	opacity: 1;
	o-user-select: none;
	outline: none;
	padding: 3px 6px;
	text-align: center;
	user-select: none;
	vertical-align: middle;
	webkit-border-radius: 4px;
	webkit-user-select: none;
	white-space: nowrap;
	width: 315px;
	/* float: right; */
	width: 100%;
	margin-left: -1px;
	margin-top: 130px;
}
.share-buttons{width: 315px !importnat;}
.padiButton{width: 397px !important;height: 62px !important;}
.padiPop4Overlay form .padiLabel
{
	font-size: 12px;
	margin: 5px 0;
}
.padiLabel span
{
	display: none;
}
.padiPop4Overlay form p
{
	font-size: 13px;
}
.padiPop4Overlay .privacy
{
	color: #000;
	font-size: 15px;
	font-style: none;
	margin-bottom: 8px !important;
}
.padiPreload
{
	display: inline-block;
	left: 10px;
	padding: 0px;
	position: relative;
	top: 3px;
}
div#share-buttons
{
	margin-left: 15px;
	margin-top: 80px;
	width: 350px;
	/* height: 80px; */
}
#share-buttons img
{
	border: 0;
	box-shadow: 0;
	display: inline;
	padding: 5px;
	width: 35px;
}
.label--checkbox
{
	color: #8A8A8A;
	cursor: pointer;
	font-family: Arial, sans-serif;
	line-height: 135%;
	margin-left: 15px;
	position: relative;
}
.checkbox
{
	cursor: pointer;
	position: relative;
	top: -0.3rem;
}
.checkbox:before
{
	border: 2px solid #A29E9E;
	content: "";
	height: 1rem;
	left: 0;
	margin-top: 3px;
	moz-transition: all 0.3s ease-in-out;
	position: absolute;
	transition: all 0.3s ease-in-out;
	webkit-transition: all 0.3s ease-in-out;
	width: 1rem;
	z-index: 1;
}
.checkbox:checked:before
{
	border-color: #009688;
	border-right-style: none;
	border-top-style: none;
	height: .5rem;
	moz-transform: rotate(-45deg);
	ms-transform: rotate(-45deg);
	o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	webkit-transform: rotate(-45deg);
}
.checkbox:after
{
	background: #fff;
	content: "";
	cursor: pointer;
	height: 1.1rem;
	left: 0;
	position: absolute;
	top: -0.125rem;
	width: 1.1rem;
}
.row.don {
    background: #EFEFEF;
    margin-bottom: 20px;
    width: 760px;
    margin: 0 auto;
}
.paypal{margin-top:30px}
.button {
  position: relative;
  height: 50px;
  padding: 0 0 0 50px;
  font-size: 14px;
  line-height: 48px;
  border-bottom: 1px solid #bbb;
  background: #fafafa;
  cursor: pointer;
}

.button:hover {
  background: #f5f5f5;
}

.button:after {
  /* content: ''; */
  position: absolute;
  top: 15px;
  left: 18px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 7px #fff;
  background: #fff;
}

.button:hover:after {
  background: #bbb;
}

.button.active:after {
  background: #555;
}
.button1:after {
  /* content: ''; */
  position: absolute;
  top: 15px;
  left: 18px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 7px #fff;
  background: #fff;
}
.button1 {
    float: left;
    margin-top: 10px;
    width: 430px;
    height: 60px;
    margin-right: 10px;
    padding: 15px 0 0;
    font-size: 2em;
    line-height: 1;
    text-align: center;
    border: 0;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: inset 0 0 0 1px #bbb;
}
span.custom-input {
    background: none;
    border: 0;
    display: inline-block;
    margin-top: -2px;
    /* padding: 3px 12px; */
    margin-bottom: 0;
    font-size: 14px;
    line-height: 10px;
    color: #333;
    text-align: center;
    /* text-shadow: 0 1px 1px rgba(255,255,255,0.75); */
    vertical-align: middle;
    cursor: pointer;
}
span.currency-label {
    background: 0;
    border: 0;
    box-shadow: none;
    font-size: 1.3em;
    line-height: 1.9;
}
input#price-other {
    padding: 5px;
    margin-top: -5px;
}
.payments .button1:hover:after {
  background: #bbb;
}

.payments .button1.active:after {
  background: #555;
}
.payments .button1,.pay1 .button1 {
  position: relative;
  height: 40px;
  width: 350px;
  padding: 0 0 0 20px;
  font-size: 14px;
  line-height: 40px;
  border-bottom: 1px solid #bbb;
  background: #fafafa;
  cursor: pointer;
  text-align:left;
}
.payments .button,.pay1 .button {
    height: 60px;
    padding: 0 0 0 60px;
    font-size: 18px;
    line-height: 58px;
  }

 .payments  .button:after, .pay1 .button:after {
    top: 20px;
    left: 23px;
  }
  .paypal {
    margin-top: 30px;
    
}
.checkb label {
    font-size: .9em;
    padding-left: 5px;
    color: #8A8A8A;
}
 .payments   .button, .pay1   .button {
    float: left;
    width: 80px;
    height: 40px;
    margin-right: 10px;
    padding: 10px 0 0;
    /* font-size: 2em; */
    line-height: 1;
    text-align: center;
    border: 0;
    border-radius: 3px;
    font-weight:bold;
    box-shadow: inset 0 0 0 1px #bbb;
  }
.container p {
      text-align: justify;
    line-height: 1.5;
    padding-bottom: 0;
}
.payments   .button:last-child,.pay1  .button:last-child {
    margin-right: 0;
  }

 .payments  .button:after ,.pay1  .button:after {
    top: 15px;
    left: 30px;
  }
  .pay1{
    float: left;
    /* display: inherit; */
    width: 100%;
    /* position: relative; */
    }
  .button.active.currency {
    color: #FFFFFF;
    background: #ADADAD;
}
.button.active.amount,.button1.active.amount {
    background: #ADADAD;
    color: #FFFFFF;
}
.signup-form .sign-up-btn {
    /* padding: 10px 0; */
    border-radius: 3px;
    width: 100%;
    font-size: 1.5em;
    height: 40px;
}
span.checkb {
    margin-top: 10px;
    float: left;
}
h4 {
    margin: 5px;
}
.donate{
    margin-top: 50px;
    background: #E4E4E4;
    padding: 30px;
}
.button1.active.amount .currency-label{
  color: #fff;
}
.pig{
  margin-top: 30px;
  margin-left: 130px;
}
